# variables_pipeline_configuration_{{.project_name}}.yml
# Configuration variables for the pipeline ETL notebook: {{.project_name}}.ipynb
# Reference: https://docs.databricks.com/aws/en/dev-tools/bundles/resources#pipelines

variables:
  variable1:
    default: variable1_value