# variables_pipeline_destination.yml
# Catalog and schema publication locations for the pipeline
# Reference: https://docs.databricks.com/aws/en/dev-tools/bundles/resources#pipelines

variables:
  catalog:
    default: emory_cidmath_data_hub
  schema:
    default: geography