# variables_pipeline_general.yml
# General settings for Databricks Lakeflow Declarative Pipelines
# Reference: https://docs.databricks.com/aws/en/dev-tools/bundles/resources#pipelines

variables:
  allow_duplicate_names:
    default: false
  development: 
    default: false
  channel: 
    default: CURRENT
  edition: 
    default: ADVANCED
  photon: 
    default: false
  continuous:
    default: false