# variables_pipeline_source_code.yml
# The path to the source code for the pipeline ETL logic
# Reference: https://docs.databricks.com/aws/en/dev-tools/bundles/resources#pipelines

variables:
  src_path: 
    default: ../src/{{.project_name}}.ipynb